[Unit]
Description=Kafka service
After=network.target

[Service]
Type=simple
GuessMainPID=yes
Environment=KAFKA_HOME=/opt/kafka
Environment=SCALA_VERSION=2.11
Environment=VERSION=0.8.2.1

ExecStart=/usr/bin/java \
  -Xmx1G \
  -Xms1G \
  -server \
  -XX:+UseParNewGC \
  -XX:+UseConcMarkSweepGC \
  -XX:+CMSClassUnloadingEnabled \
  -XX:+CMSScavengeBeforeRemark \
  -XX:+DisableExplicitGC \
  -Djava.awt.headless=true \
  -Xloggc:${KAFKA_HOME}/logs/kafkaServer-gc.log \
  -verbose:gc \
  -XX:+PrintGCDetails \
  -XX:+PrintGCDateStamps \
  -XX:+PrintGCTimeStamps \
  -Dcom.sun.management.jmxremote \
  -Dcom.sun.management.jmxremote.authenticate=false \
  -Dcom.sun.management.jmxremote.ssl=false \
  -Dkafka.logs.dir=${KAFKA_HOME}/logs \
  -Dlog4j.configuration=file:${KAFKA_HOME}/config/log4j.properties \
  -cp ${KAFKA_HOME}/libs/jopt-simple-3.2.jar:${KAFKA_HOME}/libs/kafka_${SCALA_VERSION}-${VERSION}.jar:${KAFKA_HOME}/libs/kafka_${SCALA_VERSION}-${VERSION}-javadoc.jar:${KAFKA_HOME}/libs/kafka_${SCALA_VERSION}-${VERSION}-scaladoc.jar:${KAFKA_HOME}/libs/kafka_${SCALA_VERSION}-${VERSION}-sources.jar:${KAFKA_HOME}/libs/kafka_${SCALA_VERSION}-${VERSION}-test.jar:${KAFKA_HOME}/libs/kafka-clients-${VERSION}.jar:${KAFKA_HOME}/libs/log4j-1.2.16.jar:${KAFKA_HOME}/libs/lz4-1.2.0.jar:${KAFKA_HOME}/libs/metrics-core-2.2.0.jar:${KAFKA_HOME}/libs/scala-library-${SCALA_VERSION}.5.jar:${KAFKA_HOME}/libs/scala-parser-combinators_${SCALA_VERSION}-1.0.2.jar:${KAFKA_HOME}/libs/scala-xml_${SCALA_VERSION}-1.0.2.jar:${KAFKA_HOME}/libs/slf4j-api-1.7.6.jar:${KAFKA_HOME}/libs/slf4j-log4j12-1.6.1.jar:${KAFKA_HOME}/libs/snappy-java-1.1.1.6.jar:${KAFKA_HOME}/libs/zkclient-0.3.jar:${KAFKA_HOME}/libs/zookeeper-3.4.6.jar \
  kafka.Kafka \
  ${KAFKA_HOME}/config/server.properties

[Install]
WantedBy=multi-user.target
